* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #23252c;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  text-align: center;
  width: 317px;
  height: 680px;
  border-radius: 10px;
}

.info {
  border-radius: 10px 10px 0px 0px;
}

.info,
.about,
.interests {
  background-color: #1a1b21;
}

.info > img {
  width: 100%;
  height: 317px;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}

.info > h3 {
  padding-top: 12px;
  color: #fff;
  font-size: 25px;
  line-height: 30px;
}

.info > h5 {
  color: #f3bf99;
  font-size: 12.8px;
  font-weight: normal;
  height: 14.19px;
}

.info > p {
  color: #f5f5f5;
  line-height: 150%;
  margin: 6px 0;
}

.info > button {
  margin-top: 6px;
  padding: 9px 13px;
  width: 247px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}

.info > button > img {
  margin-right: 6px;
}

.about {
  text-align: left;
  padding: 33px;
}

.interests {
  text-align: left;
  padding: 0px 33px 33px 33px;
}

.about > h2,
.interests > h2 {
  font-size: 16px;
  color: #f5f5f5;
}

.about > p,
.interests > p {
  margin-top: 4px;
  color: #dcdcdc;
  font-size: 11px;
}

.social {
  height: 64px;
  background-color: #161619;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  padding: 0 32px;
  justify-content: space-around;
  align-items: center;
}
